@{
    ViewBag.Title = "Sobre nós";
}

    <main role="main">
        <div class="container">
             
            <h2 class="featurette-heading">@ViewBag.Title</h2>
            <hr />
            <p class="lead">Trabalho desenvolvido por:</p>
            <ul>
                <li>
                    Ivo Casimiro
                </li>
                <li>
                    Marcos Gaspar
                </li>
            </ul>
        </div>

    </main>
