@{
    ViewBag.Title = "Contactos";
}


<main role="main">
    <div class="container">

        <h2 class="featurette-heading">@ViewBag.Title</h2>
        <hr />

        <address>
            <p>
                <a href="mailto:a21222324@alunos.isec.pt" class="lead text-dark"> a21222324 - Ivo Rodrigues Casimiro</a>
            </p>
            <a href="mailto:a21230462@alunos.isec.pt" class="lead text-dark">a21230462 - Marcos José da Costa Gaspar</a>
        </address>
    </div>

</main>