<footer class="footer mt-auto text-muted text-center ">
    <hr />
    <p class="mb-1">&copy; @DateTime.Now.Year - e-Recarga</p>
        
    <ul class="list-inline">
        <li class="list-inline-item">
            <h5><small>@Html.ActionLink("Sobre nós", "About", "Home", new object { }, new { @class = "nav-link" })</small></h5>
        </li>
        <li class="list-inline-item">
            <h5><small>@Html.ActionLink("Contactos", "Contact", "Home", new object { }, new { @class = "nav-link" })</small></h5>
        </li>
    </ul>
</footer>
