<hr>
<footer class="my-2 text-muted text-center text-small">
    <p class="mb-1">&copy; @DateTime.Now.Year - e-Recarga</p>
        
    <ul class="list-inline">
        <li class="list-inline-item">
            <h5>@Html.ActionLink("Sobre nós", "About", "Home", new object { }, new { @class = "nav-link" })</h5>
        </li>
        <li class="list-inline-item">
            <h5>@Html.ActionLink("Contactos", "Contact", "Home", new object { }, new { @class = "nav-link" })</h5>
        </li>
    </ul>
</footer>
